<!DOCTYPE html>
<html>
<head>
	<title>Beepi Project X</title>
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0">
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
	<link rel="stylesheet" href="assets/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="assets/css/nouislider.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body ng-app="appTest">
	<div class="container">
		<img class="centerDiv resizeBanner padding-top-20" src="assets/img/beepi_banner.png">
		<h4 class="center blueText">21st Century Car Buying</h4>
		<input id="carSearch" type="text" placeholder="Filter by Make" ng-model="search">
		<!-- <div class="resizeSlider" id="price" ng-model-low="lower_price_bound" ng-model-high="upper_price_bound"></div> -->
		<h5 id="lowerVal"></h5>
		<h5 id="upperVal"></h5>
	</div><!-- end container -->
	<div class="container" ng-controller="repeatCtrl">  
		<div class="row margin-top-50">  
		  	<div class="card col s12 m4" ng-repeat="item in items|filter:priceRange">          
	            <div class="card-image blackBackground">
	              <img class ="opacityFilter activator" ng-src="https:{{item.image}}">
	              <span class="activator card-title">{{item.name}}</span>
	              <span class="activator price">${{item.price}}</span>
	            </div>
	            <div class="card-reveal">
			      <span class="card-title grey-text text-darken-4"><!-- {{item.name}} --><i class="material-icons right">close</i></span>
			      <p>{{item.bodyType}} | {{item.mileage}} Total Miles | ${{item.price}}</p>
			    </div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="assets/js/nouislider.js" type="text/javascript"></script>
<script src="assets/js/script.js" type="text/javascript"></script>

<script>
	var slider = document.getElementById('price');

	noUiSlider.create(slider, {
		start: [0, 100000],
		connect: true,
		range: {
			'min': 0,
			'max': 100000
		}
	});
	var snapValues = [
	document.getElementById('lowerVal'),
	document.getElementById('upperVal')
	];

	slider.noUiSlider.on('update', function( values, handle ) {
		snapValues[handle].innerHTML = '$'+values[handle];
	});

</script>
</body>
</html>